$color-primary: var(--color-primary);
$color-secundary: var(--color-secundary);
$color-alternative: var(--color-alternative);
$color-light: var(--color-light);
$color-dark: var(--color-dark);
$color-gray: var(--color-gray);