$color-primary: var(--color-primary);
$color-secundary: var(--color-secundary);
$color-alternative: var(--color-alternative);
$color-light: var(--color-light);
$color-dark: var(--color-dark);
$color-dark-transparent: rgba(#111720, .5);
$color-gray: var(--color-gray);