@import "colors";
@import "fonts";

:root {
  // Color
  --color-primary: #eaafaf;
  --color-secundary: #3fc1c9;
  --color-alternative: #427996;
  --color-light: #fff;
  --color-dark: #111720;
  -color-gray: #8ca4a4;

  // Font
  --font-size-content: 12px;
  --font-size-title: 2em;
  --font-family-content: 'Roboto', sans-serif;
  --font-weight-bold: 400;
}